<!DOCTYPE html>
<html>
  <head>
    <title>Your line</title>
    <link rel="stylesheet" type="text/css" href="css/styleresults.css">
  </head>
  <body>

  <div class = "resultsinfo">  <p> Origin:
      <%=@information.origin%>
<br>
      Destination:
      <%=@information.destination%>
 <br>
       Start Time:
      <%=@information.start_time%>
   <br>   
      End Time:
      <%=@information.end_time%>
     <br> 
      Service Information:
      <%=@information.service_detail%>
    <br>
    <a href= "www.mta.info"> For additional information, please click the link. </a>
    </p> 
    </div>
    </body>

</html>
