<!DOCTYPE html>
<html>
  <head>
    <title>Pick A Line</title>
  </head>
  <body>
    <p> Origin
      <%=@information.origin%>
<br>
      Destination 
      <%=@information.destination%>
 <br>
       Start Time
      <%=@information.start_time%>
   <br>   
      End Time
      <%=@information.end_time%>
     <br> 
      Service Information
      <%=@information.service_detail%>
    </p>
    </body>
</html>
