<!DOCTYPE html>
<html>
  <head>
    <title>Your line</title>
  </head>
  <body>
<<<<<<< HEAD
    <p> Origin
      <%=@information.origin%>
<br>
      Destination 
      <%=@information.destination%>
 <br>
       Start Time
      <%=@information.start_time%>
   <br>   
      End Time
      <%=@information.end_time%>
     <br> 
      Service Information
      <%=@information.service_detail%>
    </p>
    </body>
=======
    
    


    
  
  </body>
>>>>>>> 5cc18cf45086f40ce99a96501ce82d2fb7036752
</html>
